/*main body styling*/
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
/*nav is hidden by default for desktop*/
nav {
    display: none;
}
/* .weatherContainer {
    width: 100%;
} */
/*styling for light mode*/
.light {
    background-color: rgba(255,255,255,0.6);
    color: #000000;
}
/*styling for dark mode*/
.dark {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    /* width: 100%; */
}
/*general class used to center things*/
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/*aligns bottom credits as far bottom as possible*/
.bottom-credit {
    bottom: 0px;
}
/*styles link in bottom credits*/
.bottom-credit a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
/*used to round the widget windows*/
.rounded {
    border-radius: 10px;
    padding: 10px;
}
/*general class used to show and hide things*/
.hidden {
    display: none;
}
/*styling for the settings window*/
.settings{
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    top: 0px;
}
/*overrides skeleton's default margins*/
.row {
    margin: 20px;
}
/*text styling for error messages in settings tab*/
.name-verify {
    color: #ff0000;
    font-weight: bold;
}
/*general button styling*/
.btn {
    background-color: #666666;
    color: #000000;
    border: 1px solid black;
}
/*general button hover styling*/
.btn:hover .button:hover{
    background-color: #999999;
    color: #ffffff;
    border: 1px solid #ff0000;
}

/* Sports Widget CSS */
.title {
    display: flex;
    justify-content: center;
}
.searchBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nbaBtn {
    margin-left: 20px;
}
.playerPicture { 
    width: 100%;
    height: auto;
    object-fit: contain;
}
.container {
    display: flow-root;
    
}
/*settings radio button styling*/
.radio{
    display: inline-block;
    float: left;
    white-space: nowrap;
}
/*settings checkbox styling*/
.checkbox{
    display: inline-block;    
    white-space: nowrap;
    margin-bottom: 0;
    line-height: 1;
}
/*skeleton overrides for html element margins*/
p, h3, h1, h5, .weatherContainer div, h6{
    margin: 0;
}
/*allows dark and light mode mobile icon coloring*/
.dark-txt{
    color: #ffffff;
}
/*allows dark and light mode mobile icon coloring*/
.light-txt{
    color: #000000;
}

/*mobile setup*/
@media screen and (max-width: 980px){
/*show mobile nav*/
    nav {
        display: block;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
    }
}



/* Weather Widget */

.w-Col1, .w-Col2, .w-Col3, .w-Col4 {
    max-width: 20rem;
    min-height: 10rem;
}

.w-Col3, .w-Col4 {
    margin-top: 15px;
}

.weather-icon   {
    height: 100px;
    width: 100px;
}
/* news widget */
.newsResults{
    justify-content: space-between;
 }
 .card{
    background: #fff;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
    justify-content: space-between;
  } 
  .card:hover {
    background-color: #999999;
    color: #ffffff;
    border: 1px solid #ff0000;
}
  .card-image{
      max-height: 200px;
      overflow: hidden;
  }
  .card-image img{
    width: 100%;
    max-height: 30%;
  }
  .card-title{
      color: #222;
      padding: 10px;
  }
  .card-title h6{
      font-weight: 1.4em;
      font-weight: 700;
  }
  .card-icons a{
      font-size: 1.4em;
      border-radius: 50%;
  }
   
 


@media only screen and (max-width: 1000px) {
    #playerPicture {
        display: none;
    }
    nav .three.columns {
        width: 22%;
    }
}
@media only screen and (max-width: 700px) {
    .four.columns {
        width: 48%;
    }
    .columns {
        margin-left: 0px;
    }
    nav .three.columns {
        width: 22%;
    }
}